<div class="main-page-container">
<div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
            <a [routerLink]="['/sales']" class="box">Satış</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/report']" class="box">Rapor</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/expanses']" class="box">Giderler</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <a [routerLink]="['/companies']" class="box">Şirketler</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/employees']" class="box">Çalışanlar</a>
          </div>
          <div class="col-md-4">
            <a [routerLink]="['/products']" class="box">Ürünler</a>
          </div>
      </div>
  </div>
</div>
